<% if notice.present? %>
  <p class="py-4 px-3 bg-green-50 mb-8 text-green-500 font-medium rounded-lg inline-block text-center" id="notice"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="py-4 px-3 bg-green-50 mb-8 text-red-500 font-medium rounded-lg inline-block text-center" id="notice"><%= alert %></p>
<% end %>
